@tailwind base;
@tailwind components;
@tailwind utilities;

/* group utilities  */
@layer base {
  * {
    scroll-behavior: smooth;
  }
  body {
    @apply xl:text-[18px] text-[16px] font-dm_sans font-normal leading-[1.6] text-text-color;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-monument_extended text-title-color font-normal leading-[1.2];
  }
}

/* .container {
  @apply mx-auto 2xl:max-w-[1320px] xl:max-w-[1170px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] px-[20px];
} */

.primary-btn {
  @apply inline-flex items-center sm:gap-x-[10px] gap-x-[5px] text-[18px] text-white border border-primary-color bg-primary-color sm:py-[13px] py-[9px] sm:px-[20px] px-[12px] transition-all duration-300 hover:bg-transparent hover:text-primary-color;
}

.bordered-btn {
  @apply inline-flex items-center sm:gap-x-[10px] gap-x-[5px] text-[18px] text-primary-color border border-primary-color bg-transparent sm:py-[13px] py-[9px] sm:px-[20px] px-[12px] transition-all duration-300 hover:bg-primary-color hover:text-white;
}

.main-title {
  @apply 2xl:text-[70px] xl:text-[56px] lg:text-[42px] md:text-[36px] text-[32px] 2xl:leading-[1.2] leading-[1.4];
}

.section-title {
  @apply 2xl:text-[50px] xl:text-[36px] lg:text-[32px] text-[28px] leading-[1.2];
}

.offcanvas.active {
  left: 0;
}

.slick-track {
  display: flex!important;
  gap: 30px;
}

.slick-track:before, .slick-track:after {
  content: unset!important;
}

.menu-link {
  @apply text-title-color xl:text-[18px] text-[15px] flex items-center gap-[5px] transition-all duration-300 hover:text-primary-color;
}

.dropdown {
  @apply absolute transition-all duration-300 p-[15px] z-50 w-[230px] bg-title-color left-0 top-[110%] opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:top-full;
}

.mobile-dropdown { 
 @apply bg-title-color;
}

.mobile-dropdown {
  transition: max-height 0.3s ease-in-out;
}




@media (max-width: 640px) {
  .slick-track {
    gap: 0;
  }
}